# Capstone 2 Pre-processing and Training Data Development



**The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling
 
3.   Exploratory Data Analysis

4.   **Pre-processing and Training Data Development**

5.   Modeling 

6.   Documentation

## Data Collection

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

C:\Users\tc18f\anaconda3\envs\learn-env\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# load the csv files in data/processed folder
df24 = pd.read_csv('C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Two\\data\\processed\\df24.csv', index_col='Date')
df2016 = pd.read_csv('C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Two\\data\\processed\\df2016.csv', index_col='Date')
df2017 = pd.read_csv('C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Two\\data\\processed\\df2017.csv', index_col='Date')
# change indexes to time series
df24.index = pd.to_datetime(df24.index)
df2016.index = pd.to_datetime(df2016.index)
df2017.index = pd.to_datetime(df2017.index)
df24.head()

,11:00:00,12:00:00,13:00:00,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00,Daily
Date,,,,,,,,,,,,,,
2016-01-04,16.39,36.27,78.68,51.44,57.70,148.93,74.55,50.34,56.02,79.35,58.34,31.68,0.00,739.69
2016-01-05,22.45,27.75,7.25,30.64,100.67,149.72,43.14,68.53,93.65,75.90,27.45,31.70,0.00,678.85
2016-01-06,33.59,41.48,111.56,92.00,94.83,94.27,45.26,70.35,57.22,52.53,46.87,49.12,0.00,789.08
2016-01-07,8.40,23.30,54.49,42.28,116.13,101.65,52.04,47.96,128.00,77.01,91.02,75.42,0.00,817.70
2016-01-08,27.25,86.00,48.34,65.21,186.20,158.67,93.76,117.30,143.23,105.70,182.96,89.71,64.12,1368.45

In [3]:
# also load the time series df
dfts = pd.read_csv('C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Two\\data\\processed\\dfts.csv', index_col='Date')
dfts.index = pd.to_datetime(dfts.index)
dfts.head()

                     sales
Date
2016-01-04 11:00:00  16.39
2016-01-04 12:00:00  36.27
2016-01-04 13:00:00  78.68
2016-01-04 14:00:00  51.44
2016-01-04 15:00:00  57.70

# EXPLORATORY ANALYSIS

In [4]:
#in order to plot both 2016 and 2017 in the same graph, we'll reset the index
df2016r = df2016.reset_index(drop=True)
df2017r = df2017.reset_index(drop=True)
df2016r.head()

,11:00:00,12:00:00,13:00:00,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00,Daily
0,16.39,36.27,78.68,51.44,57.70,148.93,74.55,50.34,56.02,79.35,58.34,31.68,0.00,739.69
1,22.45,27.75,7.25,30.64,100.67,149.72,43.14,68.53,93.65,75.90,27.45,31.70,0.00,678.85
2,33.59,41.48,111.56,92.00,94.83,94.27,45.26,70.35,57.22,52.53,46.87,49.12,0.00,789.08
3,8.40,23.30,54.49,42.28,116.13,101.65,52.04,47.96,128.00,77.01,91.02,75.42,0.00,817.70
4,27.25,86.00,48.34,65.21,186.20,158.67,93.76,117.30,143.23,105.70,182.96,89.71,64.12,1368.45

In [5]:
#let's check the number of days in each data
print('df2016r has ' + str(len(df2016r)) + ' days of data, starting with Monday.')
print('df2017r has ' + str(len(df2017r)) + ' days of data, starting with Monday.')

df2016r has 364 days of data, starting with Monday.
df2017r has 364 days of data, starting with Monday.