# Capstone 3 Data Wrangling

**The Data Science Method**  

1.   Problem Identification 

2.   **Data Wrangling** 
  * Data Collection 
   * Data Organization
  * Data Definition 
  * Data Cleaning
 
3.   Exploratory Data Analysis
 * Build data profile tables and plots
        - Outliers & Anomalies
 * Explore data relationships
 * Identification and creation of features

4.   Pre-processing and Training Data Development
  * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Data Collection

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
#need to change working directory to data, where the raw data are saved
path="C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Three\\data"
os.chdir(path)
#check and see what files are in data folder
os.listdir()

['All Houses.csv',
 'Condo.csv',
 'FiveBedroom.csv',
 'FourBedroom.csv',
 'OneBedroom.csv',
 'processed',
 'SingleFamily.csv',
 'ThreeBedroom.csv',
 'TwoBedroom.csv']

In [3]:
# read the wanted files into dataframe, we will take One to Four bedrooms,
# since number of bedrooms is defintely an ind variable
# the file with 5bedrooms actually means 5 or more thus it's biased and won't be used.
df = pd.read_csv('OneBedroom.csv')
df2 = pd.read_csv('TwoBedroom.csv')
df3 = pd.read_csv('ThreeBedroom.csv')
df4 = pd.read_csv('FourBedroom.csv')
# read to see its components
df.head(2)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,110703.0,...,717157.0,713912.0,711969.0,709249.0,707335.0,706379.0,706697.0,708022.0,708403.0,708100.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,112088.0,...,225210.0,224827.0,224370.0,223936.0,223685.0,223699.0,224083.0,224425.0,224586.0,224370.0

## Data Organization
We will organize/clean the data to the format we want

In [4]:
# knowing that we will be using forecast model, which cannot have null values, let's drop null values to save process time
df=df.dropna()

In [5]:
df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '1996-01-31',
       ...
       '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
       '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31'],
      dtype='object', length=302)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4499 entries, 0 to 19033
Columns: 302 entries, RegionID to 2020-05-31
dtypes: float64(293), int64(3), object(6)
memory usage: 10.4+ MB

In [7]:
# check the unique counts of first 9 columns
for i in df.columns[:9]:
    print(i,': ', len(df[i].unique()))

RegionID :  4499
SizeRank :  4065
RegionName :  4499
RegionType :  1
StateName :  45
State :  45
City :  2655
Metro :  355
CountyName :  515

RegionID doesn't really have any meaning other than identification, but since RegionName has same number of unique counts, we will just keep RegionName (which is zipcode).
SizeRank doesn't really mean anything.
Only 1 region type which is zip.
State and StateName are the same thing, but we are going to focus on bay area, so we'll remove both.
There are way too many cities, since we have RegionName (zipcode) we will remove it.
Metro is a combination of cities, so we will remove it.
County may be a good variable, we'll keep it.

In [8]:
# we will keep only houses in CA
df = df.loc[df['State']=='CA']

# rename the column names to something easier to relate to
df.rename(columns={'RegionName': 'Zipcode', 'CountyName': 'County'}, inplace=True)

# we'll keep Zipcode and County and remove the rest of location identifiers
df.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName', 'City', 'Metro', 'State'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 516 entries, 12 to 18083
Columns: 295 entries, Zipcode to 2020-05-31
dtypes: float64(293), int64(1), object(1)
memory usage: 1.2+ MB

In [9]:
# let's melt it while keeping zipcode state and county as columns
dfm = pd.melt(df, id_vars = ['Zipcode', 'County'], var_name='Date', value_name='Value')
dfm.head()

   Zipcode                County        Date     Value
0    94109  San Francisco County  1996-01-31  263374.0
1    90250    Los Angeles County  1996-01-31  184141.0
2    90046    Los Angeles County  1996-01-31  119677.0
3    94501        Alameda County  1996-01-31  119742.0
4    94110  San Francisco County  1996-01-31  221428.0

In [10]:
# check value's data types
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151188 entries, 0 to 151187
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Zipcode  151188 non-null  int64
 1   County   151188 non-null  object
 2   Date     151188 non-null  object
 3   Value    151188 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.6+ MB

In [11]:
# need zipcode to string, date to datetime, and Value to int
dfm['Zipcode'] = dfm['Zipcode'].astype(str)
dfm['Date'] = pd.to_datetime(dfm.Date)
dfm['Value'] = dfm['Value'].astype(int)

In [12]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151188 entries, 0 to 151187
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Zipcode  151188 non-null  object
 1   County   151188 non-null  object
 2   Date     151188 non-null  datetime64[ns]
 3   Value    151188 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 4.0+ MB

## Data Definition
We'll define a function to clean/orangize the rest of data to the optimal format we had

In [13]:
def tableau(df, bedrooms):
    # dropna()
    df = df.dropna()
    # keep only houses in CA
    df = df.loc[df['State']=='CA']
    # keep Zip and County and remove the rest of location identifiers
    df.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName', 'City', 'Metro', 'State'], axis=1, inplace=True)
    # rename the column names to something easier to relate to
    df.rename(columns={'RegionName': 'Zipcode', 'CountyName': 'County'}, inplace=True)
    # melt it while keeping zipcode and county as columns, and variable name as Date, value name as Value
    dfm = pd.melt(df, id_vars = ['Zipcode', 'County'], var_name='Date', value_name='Value')
    # add number of bedrooms
    dfm['Bedrooms'] = int(bedrooms)
    # need zipcode to string, date to datetime, Value to int
    dfm['Zipcode'] = dfm['Zipcode'].astype(str)
    dfm['Date'] = pd.to_datetime(dfm.Date)
    dfm['Value'] = dfm['Value'].astype(int)
    return dfm

In [14]:
# test and see if the function works as expected
tabtest = tableau(pd.read_csv('OneBedroom.csv'), 1)
tabtest

       Zipcode                 County       Date   Value  Bedrooms
0        94109   San Francisco County 1996-01-31  263374         1
1        90250     Los Angeles County 1996-01-31  184141         1
2        90046     Los Angeles County 1996-01-31  119677         1
3        94501         Alameda County 1996-01-31  119742         1
4        94110   San Francisco County 1996-01-31  221428         1
...        ...                    ...        ...     ...       ...
151183   95664       El Dorado County 2020-05-31  386384         1
151184   94586         Alameda County 2020-05-31  684555         1
151185   95439          Sonoma County 2020-05-31  647424         1
151186   95497          Sonoma County 2020-05-31  591061         1
151187   92341  San Bernardino County 2020-05-31  162622         1

[151188 rows x 5 columns]

In [15]:
tabtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151188 entries, 0 to 151187
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Zipcode   151188 non-null  object
 1   County    151188 non-null  object
 2   Date      151188 non-null  datetime64[ns]
 3   Value     151188 non-null  int32
 4   Bedrooms  151188 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(1), object(2)
memory usage: 5.2+ MB

In [16]:
# create a dict comprehension to store the data set in format we want
# reload the dataset with 1 bedroom since BR1df was modified
data_dict = {1: tableau(pd.read_csv('OneBedroom.csv'), 1),
             2: tableau(df2, 2),
             3: tableau(df3, 3), 
             4: tableau(df4, 4), 
            }

In [17]:
# check and see
data_dict[1]

       Zipcode                 County       Date   Value  Bedrooms
0        94109   San Francisco County 1996-01-31  263374         1
1        90250     Los Angeles County 1996-01-31  184141         1
2        90046     Los Angeles County 1996-01-31  119677         1
3        94501         Alameda County 1996-01-31  119742         1
4        94110   San Francisco County 1996-01-31  221428         1
...        ...                    ...        ...     ...       ...
151183   95664       El Dorado County 2020-05-31  386384         1
151184   94586         Alameda County 2020-05-31  684555         1
151185   95439          Sonoma County 2020-05-31  647424         1
151186   95497          Sonoma County 2020-05-31  591061         1
151187   92341  San Bernardino County 2020-05-31  162622         1

[151188 rows x 5 columns]

## Data Cleaning/further organizing
since the data sets are working well in each of its set, we need them to have same zipcodes in order to compare them

In [18]:
# create an empty dict to store zip data
zips_dict = {}

# iterate to add unique zipcodes as values and have 1 thru 5 as its key by number of bedrooms
for i in range(1,5):
    zips_dict[i] = data_dict[i].Zipcode.unique()
    
# create a list containing inner join of the zipcodes
sharedzip = list(set(zips_dict[1]) & set(zips_dict[2]) & set(zips_dict[3]) & set(zips_dict[4]))
len(sharedzip)

481

In [19]:
# keep only data with these zipcodes, since it's inner join by zipcode let's call it zjoined_data
zjoined_data = {}

# iterate to added key and value
for i in range(1,5):
    zjoined_data[i] = data_dict[i].loc[data_dict[i].Zipcode.isin(sharedzip)]
zjoined_data[2].Zipcode.nunique() #check and see if it's 458

481

In [20]:
# concat to one df
combined_df = pd.concat([zjoined_data[i] for i in range(1,5)])
combined_df

       Zipcode                 County       Date    Value  Bedrooms
0        94109   San Francisco County 1996-01-31   263374         1
1        90250     Los Angeles County 1996-01-31   184141         1
2        90046     Los Angeles County 1996-01-31   119677         1
3        94501         Alameda County 1996-01-31   119742         1
4        94110   San Francisco County 1996-01-31   221428         1
...        ...                    ...        ...      ...       ...
317268   95664       El Dorado County 2020-05-31   713498         4
317273   94586         Alameda County 2020-05-31  1588685         4
317285   95439          Sonoma County 2020-05-31  1040063         4
317297   95497          Sonoma County 2020-05-31  1298635         4
317307   92341  San Bernardino County 2020-05-31   324042         4

[563732 rows x 5 columns]

In [23]:
# list number of samples by county to make sure we have good enough samples per county
# create a list of counties
county_list = list(combined_df.County.unique())
# iterate to view each county and print number of samples in it if it's less than 400 samples
for i in county_list:
    if len(combined_df.loc[combined_df['County']==i]) < 400:
        print(i, ':', len(combined_df.loc[combined_df['County']==i]))

In [24]:
# do the same for zipcode
# create a list of zipcodes
zipcode_list = list(combined_df.Zipcode.unique())
# iterate to view each zipcode and print number of samples in it if it's less than 400 samples
for i in zipcode_list:
    if len(combined_df.loc[combined_df['Zipcode']==i]) < 400:
        print(i, ':', len(combined_df.loc[combined_df['Zipcode']==i]))

Awesome! Now let's save the files as xlsx (Tableau can use this type of file).

In [ ]:
# change working directory to processed, where the processed data
path="C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Three\\data\\processed"
os.chdir(path)
zjoined_data[1].to_excel('BR1.xlsx')
zjoined_data[2].to_excel('BR2.xlsx')
zjoined_data[3].to_excel('BR3.xlsx')
zjoined_data[4].to_excel('BR4.xlsx')

In [21]:
path="C:\\Users\\tc18f\\Desktop\\springboard\\Capstone Three\\data\\processed"
os.chdir(path)
combined_df.to_excel('combined.xlsx')